
.left-side-menu{
    width: $leftbar-width;
  z-index: 1000;
  background: #62778c;
  bottom: 0;
  margin-top: 0;
  padding-bottom: 30px;
  position: fixed;
  top: 0;
  transform: translateX(-$leftbar-width);
  transition: transform 0.5s;
  color:#d8dde2;
  overflow-y: scroll;
  .close-sidebar{
      position: absolute;
      right:20px;
      top:10px;
      background: none;
      color:$white;
      border:0px;
      
  }
  .album-info{
    padding:50px 20px 20px;
 
        .album-img{
            height: 120px;
            width:120px;
            border-radius: 70px;
        }
        .artist-name{
            display:block;
            padding-top: 15px;
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

        }
        .album-name{
            display:block;
            font-size:15px;
            margin-top: 30px;
            white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

        }
        .tracks-area{
            margin-left: -20px;
            margin-right: -20px;
            margin-top: 30px;
            .track{
                background: #374552;
                padding:15px 20px;
                border-bottom: 1px solid #4f5d6b;
                position: relative;
                &:hover{
                    background: #5a6a7a;
                }
                color:#99adbb;
                .track-play-btn{
                    background: none;
                    border:0px;
                    cursor: pointer;
                    color:#99adbb;
                    position: absolute;
                    right:20px;
                }
            }
        }
}
}
.left-side-menu.open{
 
  transform: translateX(0px);
  transition: transform 0.5s;
}


.content{
    
    .card-row{
        width:100%;
        text-align: center;
        // display: flex;
        // flex-flow: row wrap;
        .card{
            width:140px;
            display: inline-block;
            background:transparent;
            margin-left: 10px;
            margin-right: 10px;
            .card-body{
               padding:10px 5px 10px 0px;
               a{
                   
               h5{
                font-size:13px;
                font-weight: 400;
                 color: #7d7d7d;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top:0px;
                margin-bottom: 5px;
               }
               h6{
                font-size:12px;
                margin-top: 5px;
                font-weight: 400;
                 color: #7d7d7d;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
               }
               &:hover{
                   h5,h6{
                   color:#444;
                }
               }
            }
            }
        }
    }
}

.login-btn{
    background: none;
    border: 0px;
    cursor: pointer;
    padding-top: 25px;
    color:rgba(49, 58, 70, 0.8);
}

.player-container{
    position: fixed;
    bottom:-5px;
    width: 100%;
    right:0px;
    height: 100px;
}