<div class="left-side-menu " [ngClass]="isShowLeftPanel">
 
    <button class="close-sidebar" (click)="closed()"><i class="fa fa-close"></i></button>
    <div class="album-info">
      <div class="row">
        <div class="col-5"><img class="album-img" [src]="currentAlbum.image"/></div>
        <div class="col-7">
          <span class="album-name">{{currentAlbum.name}}</span>
          <span class="artist-name">{{currentAlbum.label}}</span>

        </div>
      </div>
      <div class="tracks-area">
        <div *ngFor="let item of currentAlbum.data; let i = index" class="track">
          <span class="track-name">{{item.track_number}}- {{item.name}}</span>
          <span class="track-length"> -- 4:14</span>
          <button (click)="addCurrentsongtoplay(item.uri)" class="track-play-btn"><i class="fa fa-play"></i></button>
        </div>
      
      </div>

    </div>

  </div>